--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchvision==0.19.1+cu121

whisperx
pyannote.audio

matplotlib>=3.8,<3.10

tqdm
opencv-python
ffmpegcv
numpy
python_speech_features
scipy
scenedetect
scikit-learn
gdown
pandas
transformers
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
modal==1.2.1